Flask==2.0.3
Flask-CORS==3.0.10
tensorflow==2.10.0  # Use a stable version compatible with your .h5 model
Pillow==9.1.1  # Required for image handling
numpy==1.21.5  # NumPy is used for image array manipulation
gunicorn==20.1.0  # For serving your Flask app in production
