Flask==2.3.3  # Latest stable version
Flask-CORS==3.0.10
tensorflow==2.13.0  # Adjust if needed
Pillow==9.4.0
numpy==1.24.3
gunicorn==20.1.0
Werkzeug==2.3.6  # Specify a compatible version if necessary
